@font-face {
  font-family: FiraCode;
  src: url(https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf);
}
        
body, html, main {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline:none;


}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

#input {
  flex: 1;
  font-size: 18px;
}

#output-container  {
  flex: 2;
  display: flex;
  background: #112111;

}
#input-container  {
  flex: 2;
  display: flex;
  background: #ffffff;
}
#tool-box {
  border-width: 1px;
  border-style: solid;
  margin: 0 auto;
  width: 20%;
  text-align: center
}

#output {
  font-family: 'FiraCode', monospace;
  color: #64ceaa;
  margin: 0 auto;
}
